
<h1>Curva Normal</h1>
<div role="form" class="form-inline" >
        <div class="form-group">
            <label for="slProductoG">Seleccione un producto</label>
            <select class="form-control" id="slProductoG" ng-model="slProductoG" ng-change="seleccionPrudGauss()" >
                <option ng-repeat="p in productosG" value="{{ $index }}">{{ p.nombre }}</option>
            </select>
        </div>
        <!-- atributo -->

        <div class="form-group">
<!--        <span class="input-group-btn">
                <button ng-click="changeSelectAtrr()" class="btn btn-primary glyphicon glyphicon-hand-right" type="button"></button>
            </span> -->
            <label for="slAttr">Seleccione el atributo</label>
            <select id="slAttr" ng-model="slAttr" ng-change="changeAtribGauss()" class="form-control">
                <option ng-repeat="item in data" value="{{ $index }}">{{ item.atributo }}</option>
            </select>
        </div>
    </div>
<!--<div id="container" config="highchartsNG" style="height: 500px;"></div>-->
<highchart id="normalChart" config="normalChart"></highchart>
