
<h1>Curva Normal</h1>
<div role="form" class="form-inline" >
        <div class="form-group">
            <select class="form-control" id="slProductoG" ng-model="slProductoG" ng-change="seleccionPrudGauss()" >
                <option selected disabled value="">Seleccione un producto</option>
                <option ng-repeat="p in productosG" value="{{ $index }}">{{ p.nombre }}</option>
            </select>
        </div>
        <!-- atributo -->

        <div class="form-group">
<!--        <span class="input-group-btn">
                <button ng-click="changeSelectAtrr()" class="btn btn-primary glyphicon glyphicon-hand-right" type="button"></button>
            </span> -->
            <select id="slAttr" ng-model="slAttr" ng-change="changeAtribGauss()" class="form-control">
                <option selected disabled value="">Seleccione el atributo</option>
                <option ng-repeat="item in data" value="{{ $index }}">{{ item.atributo }}</option>
            </select>
        </div>
    </div>

<div class="row">
    <div class="col-md-10">
        <highchart id="normalChart" config="normalChart" ng-show="slAttr"></highchart>
    </div>
    
    <div class="col-md-2" ng-show="probabilidad">
        <h3>Probablidad del area selecionada: {{probabilidad * 100 | number:2}}</h3>
        <h3>Complemento: {{(1-probabilidad) * 100 | number:2}}</h3>
    </div>
</div>
