
<div class="container">
    <h3>Mezclar materiales</h3>
    <div class="container-inputs-cmb">
        <input class="form-control" ng-model="no_analisis" placeholder="numero de analisis" type="text" style="width:200px;">
        <input class="form-control" ng-model="porcentaje" placeholder="porcentaje (MAX: {{restante}})" type="number" style="width:200px;">
        <button class="btn" ng-click="addItemListProducts()">Agregar</button>
        <p>{{message}}</p>
    <div>
    <div class="container-combination">
        <table class="table table-bordered" style="width: 900px;">
            <thead>
                <tr>
                    <th style="width: 60px;">No Analisis</th>
                    <th style="width: 80px;">Producto</th>
                    <th style="width: 30px;">Si</th>
                    <th style="width: 30px;">Al</th>
                    <th style="width: 30px;">Fe</th>
                    <th style="width: 30px;">Ca</th>
                    <th style="width: 30px;">Mg</th>
                    <th style="width: 30px;">C</th>
                    <th style="width: 80px;">Porcentaje</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in listProducts">
                    <td>{{p.identificador}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.atributos.Si}}</td>
                    <td>{{p.atributos.Al}}</td>
                    <td>{{p.atributos.Fe}}</td>
                    <td>{{p.atributos.Ca}}</td>
                    <td>{{p.atributos.Mg}}</td>
                    <td>{{p.atributos.C}}</td>
                    <td>
                        <button class="btn" ng-click="decrementar(p)">-</button>
                        <button class="btn" ng-click="incrementar(p)">+</button>
                        {{p.porcentaje}}%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" ng-if="restante == 0">
        <div class="col-md-4">
                <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 60px;">Elemento</th>
                                <th style="width: 80px;">Porcentaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Si</td>
                                <td>{{resultados.Si}}</td>
                            </tr>
                            <tr>
                                <td>Al</td>
                                <td>{{resultados.Al}}</td>
                            </tr>
                            <tr>
                                <td>Fe</td>
                                <td>{{resultados.Fe}}</td>
                            </tr>
                            <tr>
                                <td>Ca</td>
                                <td>{{resultados.Ca}}</td>
                            </tr>
                            <tr>
                                <td>Mg</td>
                                <td>{{resultados.Mg}}</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>{{resultados.C}}</td>
                            </tr>
                        </tbody>
                    </table>
        </div>
        <div class="col-md-4">
            <highchart config="pieChart"></highchart>
        </div>
    </div>
</div>
