<div class="container"> 
    <div clas="row" ng-repeat="producto in productos">
        <div class="col-md-8">
                <table 
                    id="tbResultadoGral" 
                    class="table table-bordered table-striped table-hover" >
                <caption>{{ producto.nombre }}</caption>
                <thead>
                    <tr>
                        <th>Elemento</th>
                        <th>Promedio</th>
                        <th>Desviacion Estandar</th>
                        <th>Rango</th>
                        <th>Moda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="parametro in producto.data" style="cursor:pointer;">
                        <th>{{ parametro.atributo }}</th>
                        <th>{{ parametro.promedio | number:2 }}</th>
                        <th>{{ parametro.desvStd | number:2 }}</th>
                        <th>{{ parametro.rango | number:2}}</th>
                        <th>{{ parametro.moda | number:2}}</th>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-info" >
                Exportar a PDF
            </button>
        </div>

        <div class="col-md-4" >
            <highchart config="pieChart[$index]"></highchart>
        </div>

    </div>
</div>
