
<ul class="nav-pills nav-stacked" style="list-style-type:none;">
    <div role="form" class="form-inline" >
        <div class="form-group">
            <label for="slProducto">Seleccione un producto</label>
            <select class="form-control" id="slProducto" ng-model="slProducto" ng-change="changeSelectProducto()" >
                <option ng-repeat="p in productos" value="{{ $index }}">{{ p.nombre }}</option>
            </select>
        </div>
        <!-- atributo -->

        <div class="form-group">
<!--        <span class="input-group-btn">
                <button ng-click="changeSelectAtrr()" class="btn btn-primary glyphicon glyphicon-hand-right" type="button"></button>
            </span> -->
            <label for="slAttr">Seleccione el atributo</label>
            <select id="slAttr" ng-model="slAttr" ng-change="changeSelectAtrr()" class="form-control">
                <option ng-repeat="name in productos.atributos" value="{{ name }}">{{ name }}</option>
            </select>
        </div>


<div class="row">
    <div class="col-md-8">
        <canvas id="line"
            class="chart chart-line"
            chart-data="scatter.data"
            chart-labels="scatter.labels"
            chart-series="scatter.series"
            chart-options="scatter.options"
            chart-click="onClick">
        </canvas>
        <br>
        <canvas id="bar"
            class="chart chart-bar"
            chart-data="histogram.data"
            chart-labels="histogram.labels"
            chart-series="histogram.series">
        </canvas>
    </div>

    <div class="col-md-4">
        <highchart id="chart1" config="pie"></highchart>

        <div>
            <h5>Promedio: {{gralData.promedio}}</h5>
            <h5>Desviacion estandar: {{gralData.desviacion}}</h5>
            <h5>Rango: {{gralData.rango}}</h5>
        </div>

    </div>
</div>
        <!-- busqueda -->
<!--         <label>Busqueda</label>
        <div class="input-group">
            <span class="input-group-btn">
                <button ng-click="BusquedaProductos()" class="btn btn-primary glyphicon glyphicon-search" type="button"></button>
            </span>
            <input type="text" ng-model="txtBusqueda" class="form-control"/>
        </div> -->
    </div>
</ul>
