
<div class="container-fluid" ng-show="showMainContent">
    <!-- titulo superior -->
    <div id="infoFile" style="margin:20px;">
        <h4 id="labelTitle"></h4>
    </div>
    <!-- contenido central (graficas) -->
    <div style="float:left; width:58%; margin-right:20px;">
        <div id="divDispersion" ng-show="showGraficas"></div>
        <div id="divFrecuencia" ng-show="showGraficas"></div>

        <table id="tbResultadoGral" class="table table-bordered table-striped table-hover" ng-hide="showGraficas">
            <thead>
                <tr>
                    <th>Elemento</th>
                    <th>Promedio</th>
                    <th>Desviacion Estandar</th>
                    <th>Rango</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in resumen" ng-click="clickTable()" value="{{ r.name }}" style="cursor:pointer;">
                    <th>{{ r.name }}</th>
                    <th>{{ r.value | number:2 }}</th>
                    <th>{{ r.desvStd | number:2 }}</th>
                    <th>{{ r.rango | number:2}}</th>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- panel lateral derecho  -->
    <div style="float:right; width:40%; padding:0px 20px 30px 20px; border-radius: 10px;">

        <div class="panel-group">
            <!--  panel calculo estadisticos -->
            <div class="panel panel-info" ng-show="slAttr">
                <div class="panel-heading">Calculos Estadisticos</div>
                <div class="panel-body">
                    <div style="font-size:16; margin-top:8px;"> Elemento: <mark> {{ slAttr }} </mark></div>
                    <div style="font-size:16; margin-top:8px;"> Promedio = <mark> {{ promedio }} </mark></div>
                    <div style="font-size:16; margin-top:8px;"> Desviacion Estandar = <mark> {{ desviacion }} </mark></div>
                    <div style="font-size:16; margin-top:8px;"> Rango = <mark> {{ rango }} </mark></div>
                </div>
            </div>

            <!--panel informacion general -->
            <div id="divInfoGral" class="panel panel-info" ng-show="informacionGral">
                <div class="panel-heading">Datos Generales</div>
                <div class="panel-body">
                    <span ng-bind-html="informacionGral"> </span>
                </div>
            </div>

            <!-- grafica circular en panel lateral -->
            <div id="divChartPie" class="panel panel-info animate-hide" ng-show="showPieChart">
                <div class="panel-heading">Compocision Quimica</div>
                <div class="panel-body">
                    <div id="divCircular" style="width:340px; height:300px"></div> 
                </div>
            </div>

            <!-- panel de embarques -->
            <div div="divEmbarques" class="panel panel-info" style="display:none">
                <div class="panel-heading">Embarques</div>
                <div class="panel-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th style="width:20px;">Cliente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>12/07/15</th>
                                <th style="width:20px;">Metalurgica S.A.</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div> <!-- fin panel group -->
    </div> <!-- fin panel lateral derecho -->
</div>