<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

</head>

<body id="mainApp" ng-app="mainApp" ng-controller="mainControl">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <!-- panel lateral izquierdo -->
            <!-- <div ng-include="'panel.html'" onload="initExcel()"></div> -->
            <div style="text-align:center; margin-top:25px; margin-bottom:25px;">
                <img width="70%" height="25px" src="images/logo.png" />
            </div>
            <!-- panel -->
            <div class="panel panel-default" style="margin:15px;">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#collapsePanel">Archivos</a>
                </div>
                <div id="collapsePanel" class="panel-collapse collapse">
                    <div class="panel-body" style="background-color: rgba(205, 197, 197, 0.8)">
                        <div style="margin-bottom: 12px;">
                            <label class="btn btn-block btn-primary">
                                Cargar Excel&hellip; <input type="file" id="fileExcel" style="display: none;">
                            </label>
                        </div>
                        <form role="form">
                            <div class="form-group">
                                <!-- file -->
                                <label for="slFile">Seleccione el archivo</label>
                                <select id="slFile" ng-model="slFile" class="form-control" ng-change="changeSelectFile()"></select>
                                <!-- sheet -->
                                <label for="slSheet">Seleccione la hoja</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button ng-click="changeSelectSheet()" class="btn btn-primary glyphicon glyphicon-hand-right" type="button"></button>
                                    </span>
                                    <select id="slSheet" ng-model="slSheet" class="form-control" ng-change="changeSelectSheet()">
                                        <option ng-repeat="s in sheets" value="{{ $index }}">{{ s.name }}</option>
                                    </select>
                                </div>
                                <!-- atributo -->
                                <label for="slAttr">Seleccione el atributo</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button ng-click="changeSelectAtrr()" class="btn btn-primary glyphicon glyphicon-hand-right" type="button"></button>
                                    </span>
                                    <select id="slAttr" ng-model="slAttr" ng-change="changeSelectAtrr()" class="form-control">
                                        <option ng-repeat="a in attrs" value="{{ a.normal }}">{{ a.name }}</option>
                                    </select>
                                </div>
                                <!-- busqueda -->
                                <label>Busqueda</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button ng-click="BusquedaProductos()" class="btn btn-primary glyphicon glyphicon-search" type="button"></button>
                                    </span>
                                    <input type="text" ng-model="txtBusqueda" class="form-control"/>
                                </div>
                                
                            </div>
                        </form>
                    </div> <!-- fin panel body -->
                </div>
            </div> <!-- fin panel -->

        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div ng-include="'content_intro.html'"></div>
            <div ng-include="'content_main.html'"></div>
        </div>
    </div> <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/jquery.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- boostrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- boostrap filestyle -->
    <script src="js/bootstrap-filestyle/src/bootstrap-filestyle.min.js"></script>
    <script src="js/bootstrap-filestyle.min.js"></script>
    <!--lectura de excel-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="js/JSLINQ.js"></script>
    <!-- angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <!-- this app -->
    <script src="js/app/index.js"></script>
    <script src="js/app/excel.js"></script>
    <script src="js/app/graficas.js"></script>
    <script src="js/app/estadistica.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>
