
<div class="container-fluid" ng-show="showMainContent">
    <!-- titulo superior -->
    <div id="infoFile" style="margin:20px;">
        <h4 id="labelTitle"></h4>
    </div>
    <!-- contenido central (graficas) -->
    <div style="float:left; width:58%; margin-right:20px;">
        <div id="divDispersion" ng-show="showGraficas"></div>
        <div id="divFrecuencia" ng-show="showGraficas"></div>

        <table ng-repeat="resumen in grupos" id="tbResultadoGral" class="table table-bordered table-striped table-hover" ng-show="grupos">
            <caption>{{ resumen.name }}</caption>
            <thead>
                <tr>
                    <th>Elemento</th>
                    <th>Promedio</th>
                    <th>Desviacion Estandar</th>
                    <th>Rango</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in resumen.data " ng-click="clickTable()" value="{{ r.name }}" style="cursor:pointer;">
                    <th>{{ r.name }}</th>
                    <th>{{ r.value | number:2 }}</th>
                    <th>{{ r.desvStd | number:2 }}</th>
                    <th>{{ r.rango | number:2}}</th>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-info" ng-show="grupos" ng-click="exportToExcelTableResumen()">Exportar a PDF</button>
        <!-- tabla busqueda -->
        <table class="table table-bordered table-striped table-hover" ng-show="resultadoBusqueda">
            <thead>
                <tr>
                    <th><input type="checkbox" ng-model="checkAll" ng-click="selectAllChecks()" name="checkAllItem"/></th>
                    <th>No Analisis</th>
                    <th>Lote</th>
                    <th>Envado a </th>
                    <th>Fecha de envio</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in resultadoBusqueda" ng-click="clickOnTableResumen()" value="{{ r.ID_ANALISIS }}" style="cursor:pointer;">
                    <th><input type="checkbox" name="checkitem" ng-model="checksTable[$index]"/></th>
                    <th>{{ r.ID_ANALISIS }}</th>
                    <th>{{ r.LOTE }}</th>
                    <th>{{ r.CLIENTE }}</th>
                    <th>{{ r.FECHA_EMBARQUE }}</th>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-info" ng-click="exportToExcelTableSearch()" ng-show="resultadoBusqueda">Exportar a PDF</button>
    </div>


    <!-- panel lateral derecho  -->
    <div style="float:right; width:40%; padding:0px 20px 30px 20px; border-radius: 10px;">

        <div class="panel-group">
            <!--  panel calculo estadisticos -->
            <div class="panel panel-info" ng-show="slAttr">
                <div class="panel-heading">Calculos Estadisticos</div>
                <div class="panel-body">
                    <div style="font-size:16; margin-top:8px;"> Elemento: <mark> {{ slAttr }} </mark></div>
                    <div style="font-size:16; margin-top:8px;"> Promedio = <mark> {{ promedio }} </mark></div>
                    <div style="font-size:16; margin-top:8px;"> Desviacion Estandar = <mark> {{ desviacion }} </mark></div>
                    <div style="font-size:16; margin-top:8px;"> Rango = <mark> {{ rango }} </mark></div>
                </div>
            </div>

            <!--panel informacion general -->
            <div id="divInfoGral" class="panel panel-info" ng-show="informacionGral">
                <div class="panel-heading">Datos Generales</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>No analisis</th>
                        <th>{{ informacionGral.ID_ANALISIS }}</th>
                    </tr>
                    <tr>
                        <th>Lote</th>
                        <th>{{ informacionGral.LOTE }}</th>
                    </tr>
                    <tr>
                        <th>Catidad</th>
                        <th>{{ informacionGral.CANTIDAD }}</th>
                    </tr>
                    <tr>
                        <th>Certificado</th>
                        <th>{{ informacionGral.CERTIFICADO }}<a <a href="files/certificado.pdf" content="aplication/pdf" target="_blank" class="glyphicon glyphicon-eye-open" style="margin-left:20px; cursor:pointer;"></a></th>
                    </tr>
                    </tbody>
                    </table>
                    <buton type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-eye-open"></span> Materia prima usada
                    </buton>
                </div>
            </div>

            <!-- grafica circular en panel lateral -->
            <div ng-repeat="chart in gruposElementos" class="panel panel-info animate-hide" ng-show="showPieCharts">
                <div class="panel-heading">{{ chart.name }}</div>
                <div class="panel-body">
                    <div id="divCircular{{ $index }}" style="width:340px; height:250px"></div>
                </div>
            </div>

            <!-- panel de embarques -->
            <div div="divEmbarques" class="panel panel-info" style="display:none">
                <div class="panel-heading">Embarques</div>
                <div class="panel-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th style="width:20px;">Cliente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>12/07/15</th>
                                <th style="width:20px;">Metalurgica S.A.</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div> <!-- fin panel group -->
    </div> <!-- fin panel lateral derecho -->
    <a id="tmpdownload" style="display:none;"></a>
</div>
